<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>myCourierApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>47884FB1E41EEAD59F39147A752BAE9E1D6BEE95</string>
				<key>dateExpires</key>
				<string>1/27/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>35</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47884FB1E41EEAD59F39147A752BAE9E1D6BEE95</string>
						<key>dateExpires</key>
						<string>1/27/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapmyIndiaAPIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2CLU3Z7P2G</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>56</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47884FB1E41EEAD59F39147A752BAE9E1D6BEE95</string>
						<key>dateExpires</key>
						<string>1/27/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapmyIndiaDirections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2CLU3Z7P2G</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.23.20</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>148</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47884FB1E41EEAD59F39147A752BAE9E1D6BEE95</string>
						<key>dateExpires</key>
						<string>1/27/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapmyIndiaMaps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2CLU3Z7P2G</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.22</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47884FB1E41EEAD59F39147A752BAE9E1D6BEE95</string>
						<key>dateExpires</key>
						<string>1/27/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2CLU3Z7P2G</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47884FB1E41EEAD59F39147A752BAE9E1D6BEE95</string>
						<key>dateExpires</key>
						<string>1/27/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2CLU3Z7P2G</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.18</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>47884FB1E41EEAD59F39147A752BAE9E1D6BEE95</string>
						<key>dateExpires</key>
						<string>1/27/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>double-conversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2CLU3Z7P2G</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2CLU3Z7P2G.com.consumer.runner</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2CLU3Z7P2G</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2CLU3Z7P2G.com.consumer.runner</string>
				</array>
			</dict>
			<key>name</key>
			<string>myCourierApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>50207c0b-1c33-4ea0-a235-51bf73f5f78a</string>
				<key>dateExpires</key>
				<string>1/27/23</string>
				<key>name</key>
				<string>Runner AdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2CLU3Z7P2G</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
